.llmSelectionContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.inputContainer {
  display: flex;
}

.inputStyle {
  height: 35px;
  width: 250px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--text-color-opposite);
  background: var(--inputBox-bg);
  border: 2px solid var(--profile-input-border-color);
  box-shadow: var(--profile-input-shadow);
  font-family: 16px;
  outline: none;
}

.saveBtn {
  height: 35px;
  width: 60px;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--profileBtn-bg);
  color: var(--text-color-light);
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@container (max-width: 400px) {
  .llmSelectionContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@container (max-width: 320px) {
  .inputContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0));
    gap: 5px;
  }

  .inputStyle {
    width: 200px;
  }

  .saveBtn {
    height: 30px;
    width: 100%;
  }
}
