.themeCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@container (max-width: 768px) {
  .themeCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@container (max-width: 320px) {
  .themeCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

@container (max-width: 280px) {
  .themeCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@container (max-width: 228px) {
  .themeCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}