@font-face {
    font-family: 'nasa';
    src: url('src/assets/font/nasalization-rg.otf');
}

@font-face {
    font-family: 'ai-text';
    src: url('src/assets/font/KodeMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('src/assets/font/Helvetica.ttf');
}


/*making root to control the dark and light modes */
body:not(light-theme) {
    --primary-color: #121212;
    --primary-accent-color: linear-gradient(135deg, #7b63ff, #0d00c7);
    --hover-color: linear-gradient(135deg, #5e43f3, #382bf0);
    --new-chat-hover-color: #5e43f3;
    --sidebar-color: #3C3C3C;
    --text1-color: #FFFFFF;
    --text2-color: #FFFFFF;
    --title-color: #F5F7FA;
    --welcome-text-gradient: linear-gradient(125deg, #ff8d2f, #F12B6D, #0026ff);
    --human-msg-bg: #3C3C3C;
    --ai-msg-bg: #382bf0;
    --input-group-bg: #3C3C3C;
    --shadow-color: 0 5px 5px rgba(0, 0, 0, 0.6);
    --changeable-icon-filter: invert(100%);
}

/* the new light theme feature */
.light-theme {
    --primary-color: #F5F7FA;
    --primary-accent-color: #1F2937;
    --hover-color: rgba(255, 255, 255, 0.1);
    --new-chat-hover-color: #40454e;
    --hover-text-color: #FFFFFF;
    --sidebar-color: #1F2937;
    --text1-color: #FFFFFF;
    --text2-color: #1F2937;
    --title-color: #1F2937;
    --welcome-text-gradient: linear-gradient(125deg, #ff8d2f, #F12B6D, #0026ff);
    --human-msg-bg: #FFFFFF;
    --ai-msg-bg: #1F2937;
    --input-group-bg: #FFFFFF;
    --shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.2);
    --changeable-icon-filter: none;
}


/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.changeable-icon {
    filter: var(--changeable-icon-filter);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    color: var(--text2-color);
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* Main Content */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Chat Container */
.chat-container {
    width: 100%;
    height: calc(100% - 60px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}