.changeable-icon {
    filter: var(--changeable-icon-filter);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    color: var(--text2-color);
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* Main Content */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Chat Container */
.chat-container {
    width: 100%;
    height: calc(100% - 60px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}