/* Theme 1: Dawn_n_Dusk */
.Dawn_n_Dusk-light {
    --border-line-color: #cccccc;
    --card-bg: transparent;
    --card-shadow: 0 0 10px #cccccc;
}

.Dawn_n_Dusk-dark {
    --border-line-color: #3C3C3C;
    --card-bg: #3C3C3C;
    --card-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Theme 2: Cyber_Tech_01 */
.Cyber_Tech_01-light {
    --border-line-color: #cccccc;
    --card-bg: transparent;
    --card-shadow: 0 0 10px #cccccc;
}

.Cyber_Tech_01-dark {
    --border-line-color:#3C3C3C;
    --card-bg: rgba(109, 108, 108, 0.15);
    --card-shadow: 0 0 2px #ece2d5;
}


.setting-container {
    width: 100%;
    height: calc(100vh - 60px);
    padding-top: 20px;
    font-family: 'Exo2';
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.setting-container::-webkit-scrollbar {
    width: 10px;
}

.setting-container::-webkit-scrollbar-track {
    background: transparent;
}

.setting-container::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 50px;
}

.section {
    width: 90%;
    margin: 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px var(--border-line-color) solid;
    display: flex;
    flex-direction: column;
}

.section-title {
    font: normal 20px;
    padding-bottom: 20px;
}

.themeCard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background: var(--card-bg);
    box-shadow: var(--card-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-content span {
    padding-left: 10px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .themeCard-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .card {
        width: 150px;
        height: 200px;
    }
}
