.Dawn_n_Dusk-light {
    --send-button-hover-color: #b9b9b9;
}

.Dawn_n_Dusk-dark {
    --send-button-hover-color: #6e6e6e;
}

.Cyber_Tech_01-light {
    --send-button-hover-color: #b9b9b9;
}

.Cyber_Tech_01-dark {
    --send-button-hover-color: #6e6e6e;
}


.msg-box {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    height: calc(100vh - (60px + 12vh));
    padding-top: 30px;
    background: transparent;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.msg-box::-webkit-scrollbar {
    width: 10px;
}

.msg-box::-webkit-scrollbar-track {
    background: transparent;
}

.msg-box::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 50px;
}


/* Welcome Text Styles */
.welcome-text {
    background: var(--welcome-text-gradient);
    background-clip: text;
    color: transparent;
    box-shadow: none;
    font: bold 4.5vw 'nasa';
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text-row {
    display: flex;
    align-items: flex-start;
}

.msg-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.msg-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.msg-content {
    max-width: calc(100% - 50px);
    white-space: pre-line;
}

.msg-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'ai-text', 'Montserrat', sans-serif;
}

.msg-text {
    padding: 10px 15px;
    border-radius: 20px;
    word-wrap: break-word;
    box-shadow: var(--shadow-color);
}

.human-msg {
    background: var(--human-msg-bg);
}

.ai-msg {
    background: var(--ai-msg-bg);
    color: var(--text1-color);
    font-family: 'ai-text', 'Montserrat', sans-serif;
    box-shadow: 0 0 2px #ece2d5;
}

.input-box {
    width: 100%;
    height: 12vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.input-group {
    width: 60%;
    min-height: 60px;
    display: flex;
    align-items: center;
    background: var(--input-group-bg);
    border-radius: 10px;
    padding: 5px;
    box-shadow: var(--shadow-color);
}

#user-input {
    height: 70%;
    min-width: 300px;
    font-size: medium;
    border: none;
    outline: none;
    padding: 0 20px;
    background-color: transparent;
    color: var(--text2-color);
    flex-grow: 1;
}

#user-input::placeholder {
    color: var(--text2-color);
    font: normal medium 'ai-text';
}

.input-group-append {
    display: flex;
    align-items: center;
}

#submit-btn {
    margin-right: 15px;
}

#submit-btn {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#submit-btn:hover {
    background-color: var(--send-button-hover-color);
}

.submit-icon {
    height: 30px;
    width: 30px;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .msg-box {
        padding-left: 10%;
        padding-right: 10%;
    }

    .input-group {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .msg-box {
        padding-left: 5%;
        padding-right: 5%;
    }

    .welcome-text {
        font-size: 7vw;
    }

    .input-group {
        width: 90%;
    }

    #user-input {
        min-width: 200px;
    }
}

@media (max-width: 768px) {
    .msg-box {
        padding-left: calc(5% + 10px);
        padding-right: calc(5% + 10px);
    }

    .input-group {
        width: 90%;
    }

    #user-input {
        min-width: 150px;
    }

    .input-group-append {
        align-items: center;
    }
}

@media (max-width: 576px) {
    .msg-box {
        padding-left: calc(2.5% + 10px);
        padding-right: calc(2.5% + 10px);
    }

    .input-group {
        width: 95%;
    }

    #user-input {
        min-width: 120px;
        /* font-size: 12px; */
    }

    .input-group-append {
        align-items: center;
    }
}