.compose-box {
    width: 70%;
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    background: var(--aiMsg-bg);
    box-shadow: 0 0 2px var(--text-color2);
    backdrop-filter: blur(10px);
}

.to {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font: normal large 'Exo2', 'Montserrat', sans-serif;
    color: var(--text-color1);
    border: 2px;
    border-radius: 10px;
    background-color: transparent;
}

#to {
    width: 100%;
    margin-left: 60px;
    border: none;
    outline: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: var(--text-color1);
    background-color: transparent;
}

#to::placeholder {
    font: normal large 'Exo2', 'Montserrat', sans-serif;
    color: #888785;
}

.subject {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font: normal large 'Exo2', 'Montserrat', sans-serif;
    color: var(--text-color1);
    border: 2px;
    border-radius: 8px;
    background-color: transparent;
}

#subject {
    width: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: var(--text-color1);
    background-color: transparent;
}

#subject::placeholder {
    font: normal large 'Exo2', 'Montserrat', sans-serif;
    color: #888785;
}

.body {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal large 'Exo2', 'Montserrat', sans-serif;
    border: 2px;
    /* border-radius: 10px 10px 0 0; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

#body {
    width: 100%;
    min-height: 250px;
    resize: none;
    border: none;
    outline: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: var(--text-color1);
    background-color: rgba(70, 68, 68, 0.15);
}

#body::placeholder {
    font: normal large 'Exo2', 'Montserrat', sans-serif;
    color: #a5a4a3;
}

#body::-webkit-scrollbar {
    width: 5px;
}

#body::-webkit-scrollbar-track {
    background: transparent;
}

#body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 50px;
}

.extra-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0 0 8px 8px;
}

#attachment-label {
    padding: 10px;
    padding-left: 15px;
}

#attach-icon {
    width: 20px;
}

.actions {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#send-button {
    margin-left: 10px;
    padding: 10px;
    font: normal medium 'Exo2', 'Montserrat', sans-serif;
    border: 0;
    border-radius: 7px;
    background: var(--composeBoxBtn-color);
    color: white;
}

#send-button:hover {
    background: var(--composeBoxBtn-hover-color);
}

#save-draft-button {
    margin-left: 10px;
    padding: 10px;
    font: normal medium 'Exo2', 'Montserrat', sans-serif;
    border: 0;
    border-radius: 7px;
    background: var(--composeBoxBtn-color);
    color: white;
}

#save-draft-button:hover {
    background: var(--composeBoxBtn-hover-color);
}

#cancel-button {
    margin-left: 10px;
    padding: 10px;
    font: normal medium 'Exo2', 'Montserrat', sans-serif;
    border: 0;
    border-radius: 7px;
    /* background-color: rgb(212, 5, 74); */
    background: linear-gradient(135deg, rgb(212, 5, 74), rgb(255, 0, 85));
    color: white;
}

#cancel-button:hover {
    background: linear-gradient(135deg, rgb(204, 49, 101), rgb(255, 20, 98));
}

/* Change the color when disabled and */
/* Change the cursor to indicate the button is disabled */
button.disabled {
    background-color: rgb(88, 88, 88);
    cursor: not-allowed;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .compose-box {
        width: 85%;
    }
}

@media (max-width: 576px) {
    .compose-box {
        width: auto;
        margin-left: 0;
    }

    .to {
        padding: 5px;
    }

    .subject {
        padding: 5px;
        margin-top: 0px;
    }

    #send-button {
        padding: 5px 10px 7px 10px;
    }

    #save-draft-button {
        padding: 5px 10px 7px 10px;
    }

    #cancel-button {
        padding: 5px 10px 7px 10px;
    }
}

@media (max-width: 320px) {
    .body {
        padding: 7px;
        margin-top: 5px;
        border-radius: 5px;
    }

    #body::-webkit-scrollbar {
        width: 3px;
    }

    #send-button {
        margin-left: 5px;
    }

    #save-draft-button {
        margin-left: 0;
    }

    #cancel-button {
        margin-left: 5px;
    }
}