.schedule-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.schedule-content .calendar-container {
    display: flex;
    flex-direction: column;
}

/* ================================================ */
/*      Description Part of Schedule Viewer         */
/* =================================================*/

.schedule-desc {
    margin-left: 10px;
    margin-top: calc(15px + 10px + 7px + 2px);
    border-radius: 10px;
}

/* ============================================ */
/*         Calendar of Schedule Viewer          */
/* =============================================*/

.calendar {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color1);
    background: var(--scheduleViewer-bg);
    box-shadow: var(--scheduleViewer-shadow);
}

/* Calendar Header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
}

.calendar-header .header-left span {
    font: normal x-large 'Exo2', sans-serif;
}

.calendar-header .header-right {
    display: flex;
}

.calendar-header .header-right button {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-header .header-right button img {
    width: 30px;
    height: 30px;
    background: transparent;
}

.calendar-header .header-right button:hover {
    background: var(--scheduleViewer-hover-color);
}

/* Calendar Upper Part Border Line */
.calendar .border-line {
    margin: 5px 5px;
    border-bottom: 1px solid rgb(160, 160, 160);
    margin-top: 20px;
}

/* --------------------------- */
/*    Calendar View Buttons    */
/* ----------------------------*/
.calendar-view-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7px;
}

.calendar-view-buttons button {
    border: none;
    color: var(--text-color1);
    font: normal 15px 'Exo2', sans-serif;
    background: var(--scheduleViewer-bg);
    box-shadow: var(--scheduleViewer-shadow);
    cursor: pointer;
    padding: 5px 10px;
}

.month-view {
    border-radius: 10px 0 0 10px;
    background: var(--scheduleViewer-bg);
}

.month-view.active {
    background: black;
}

.week-view {
    border-radius: 0 10px 10px 0;
    background: var(--scheduleViewer-bg);
}

.week-view.active {
    background: black;
}

/* ----------------------- */
/*        Month View       */
/* ---------- -------------*/
.calendar-month {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;
    margin-top: 20px;
    font-size: medium;
}


/* for highlighting current day name */
.month-day-name.current {
    border: 0 solid red;
    border-width: 0 0 2px 0;
    margin: 0 5px 0 5px;
}

.month-day-names {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    color: var(--scheduleViewer-dimmed-text-color);
}

.month-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.month-day {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* for highlighting current date */
.month-day.current {
    background-color: blueviolet;
    border-radius: 50%;
}

/* for highlighting event and task */
.month-day.has-event {
    background-color: green;
    border-radius: 50%;
}

.month-day.has-task {
    background-color: red;
    border-radius: 50%;
}

.month-day.empty {
    background-color: transparent;
}

/* ----------------------- */
/*        Week View        */
/* ---------- -------------*/
.calendar-week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Week View header btn */
.calendar-body .week-header-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.calendar-body .week-header-btn button {
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.calendar-body .week-header-btn button img {
    width: 20px;
    background: transparent;
}

.calendar-body .week-header-btn button:hover {
    background: var(--scheduleViewer-hover-color);
}

/* Rest Part of Week View */
.calendar-week {
    margin-bottom: 10px;
}

.week-day {
    width: 50px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    background: var(--scheduleViewer-bg);
    box-shadow: var(--scheduleViewer-shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week-day #lower {
    margin-top: 5px;
}

.week-day.current {
    background: black;
}

.week-day.empty {
    background-color: transparent;
}


/* Responsive Styles */
@media (min-width: 1200px) {
    .schedule-content .schedule-desc {
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .schedule-content.type2 {
        justify-content: left;
        flex-direction: column;
    }

    .schedule-content.type2 .schedule-desc {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    /* Making the Calendar smaller */
    .calendar-header .header-left span {
        font-size: 20px;
    }

    .calendar-header .header-right button {
        width: 20;
        height: 30px;
    }

    .calendar-header .header-right button img {
        width: 20;
        height: 20px;
    }

    .calendar .border-line {
        margin-top: 10px;
    }

    .calendar {
        padding: 5px 15px 10px 15px;
    }

    .month-day {
        padding: 5px;
    }

    /* Making the Week View compatible */
    /* with screen size */
    .week-day {
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .schedule-content.type1 {
        justify-content: left;
        flex-direction: column;
    }

    .schedule-content.type1 .schedule-desc {
        margin-left: 0;
        margin-top: 10px;
    }}