.welcome_text {
    background: var(--welcomeText-gradient);
    background-clip: text;
    color: transparent;
    box-shadow: none;
    font: bold 4.5vw "ubuntu", "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome_text_row {
    display: flex;
    align-items: flex-start;
  }
  
  /* ------------------ */
  /* Responsive Styles */
  
  @media (max-width: 992px) {
    .welcome_text {
      font-size: 7vw;
    }
  }
  
  @media (max-width: 576px) {
    .welcome_text {
      font-size: 35px;
    }
  }
  
  @media (max-width: 320px) {
    .welcome_text {
      font-size: 10vw;
    }
  }
  