/* Lower part of ChatBox */
.inputBox {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* =========== Overall Input Panel Style =========== */

.inputGroup {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  padding: 5px;
  background: var(--inputBox-bg);
  border-radius: 0.8rem;
  border: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: var(--inputBox-shadow);
  flex-grow: 1;
}

.inputGroup.active {
  border-color: var(--inputBox-border-color);
}

/* =========== Textarea Style =========== */

#userInput {
  height: 50px;
  max-height: 200px;
  min-width: 300px;
  padding: 15px 10px 10px 10px;
  outline: none;
  resize: none;
  border: none;
  color: var(--text-color-opposite);
  font: normal medium "Montserrat", sans-serif;
  background: transparent;
  flex-grow: 1;
}

#userInput::placeholder {
  color: var(--placeholder-color);
  align-items: center;
  font: normal large "Exo2", "Montserrat", sans-serif;
  letter-spacing: 2px;
}

#userInput::-webkit-scrollbar {
  width: 0px;
}

/* =========== For Buttons (send, stop, etc) =========== */

.inputGroupAppend {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Send Button Styles */
#submitBtn {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
}

#submitBtn:hover {
  background-color: var(--inputBoxBtn-hover-color);
}

#submitIcon {
  width: 30px;
  height: 30px;
  color: var(--text-color-iconic);
}

/* Change the color when disabled and */
/* Change the cursor to indicate the button is disabled */
button.disabled {
  background-color: rgb(88, 88, 88);
  cursor: not-allowed;
}

.stopIcon {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
  color: white;
}

#attachmentBtn {
  color: var(--text-color-iconic);
  background: transparent;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

#attachmentBtn:hover {
  background: var(--inputBoxBtn-hover-color);
}

#attachmentIcon {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  color: var(--text-color-iconic);
}

/* =========== File Attachment Option-Menu =========== */

.optionsMenu {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: calc(100% + 7px);
  right: 3%;
  backdrop-filter: blur(10px);
  background: var(--inputBox-bg);
  box-shadow: var(--inputBox-shadow);
  border: 1.5px;
  border-style: solid;
  border-color: var(--inputBox-border-color);
  flex-grow: 1;
  border-radius: 5px;
}

.optionsMenuBtn {
  border: none;
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
}

.optionsMenuBtn:nth-child(1) {
  padding-right: 0;
}

.optionsMenuBtn:nth-child(2) {
  padding-left: 0;
}

.optionsMenuIcon {
  width: 29px;
  height: 29px;
  color: var(--text-color-opposite);
}

/* =========== Advance Options (Dropdown) =========== */

.inputOptionMenu {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 10px;
  padding: 10px 2px;
}

.nextButton {
  height: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--dropdownBtn-bg);
  box-shadow: var(--dropdownBtn-shadow);
}

/* =========== Uploaded Image Preview =========== */

/* --- for large screen --- */
.imagePreview {
  max-width: 200px;
  max-height: 200px;
  min-width: 60px;
  margin-right: 10px;
  position: relative;
}

.imagePreview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.cancelButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0;
}

.cancelButton:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* --- for narrow screen --- */
.outerImagePreview {
  width: 100%;
  padding: 0 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.outerImagePreview div {
  max-width: 150px;
  max-height: 150px;
  position: relative;
}

.outerImagePreview div img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: var(--inputBox-shadow);
}

/* ============================ */
/*      Responsive Styles       */
/* ============================ */

@container (max-width: 1200px) {
  .inputGroup {
    width: 80%;
  }

  .inputOptionMenu {
    width: 80%;
  }
}

@container (max-width: 992px) {
  .inputGroup {
    width: 90%;
  }

  .inputOptionMenu {
    width: 90%;
  }

  #userInput {
    min-width: 200px;
  }
}

@container (max-width: 768px) {
  .inputGroup {
    width: 90%;
    padding: 3px;
  }

  .inputOptionMenu {
    width: 90%;
  }

  #userInput {
    min-width: 150px;
  }

  .inputGroupAppend {
    align-items: center;
  }

  #submitBtn {
    margin-right: 10px;
  }

  #attachmentIcon {
    margin-top: 4px;
  }
}

@container (max-width: 576px) {
  .inputGroup {
    width: 95%;
  }

  .inputOptionMenu {
    width: 95%;
  }

  #userInput::placeholder {
    font: normal medium "Exo2", "Montserrat", sans-serif;
    letter-spacing: 2px;
  }

  .inputGroupAppend {
    align-items: center;
  }

  .optionsMenuIcon {
    width: 22px;
    height: 22px;
  }
}

@container (max-width: 320px) {
  #submitBtn {
    height: 35px;
    width: 35px;
    margin-right: 5px;
  }

  #submitIcon {
    width: 27px;
    height: 27px;
    color: var(--text-color-opposite);
  }

  #attachmentIcon {
    height: 22px;
    width: 22px;
  }
}
