/* ====================================================*/
/*             All Fonts used in the App               */
/* ====================================================*/

@font-face {
  font-family: "nasa";
  src: url("/font/nasalization-rg.otf");
}

@font-face {
  font-family: "ai-text";
  src: url("/font/KodeMono.ttf");
}

@font-face {
  font-family: "exo2";
  src: url("/font/Exo2.ttf");
}

/* ====================================================*/
/*              Whole App's Theme Color                */
/* ====================================================*/

/* Theme 1: Dawn_n_Dusk */

.Dawn_n_Dusk-light {
  /* General */
  --primary-color: #f5f5f5;
  --secondary-color: #1f2937;
  --tertiary-color: #2196f3;
  --quaternary-color: #d3d3d3;
  --quinary-color: #ffffff;
  --subPage-bg: var(--primary-color);

  --text-color-light: #ffffff;
  --text-color-opposite: #000000;
  --text-color-iconic: #1f2937;
  --placeholder-color: #666666;

  --inputBox-bg: var(--primary-color);
  --inputBox-border-color: transparent;
  --inputBoxBtn-hover-color: rgba(108, 108, 108, 0.15);
  --inputBox-shadow: var(--shadow);

  --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --dark-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  --hover-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  --copyBtn-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

  /* Sidebar */
  --sidebar-color: var(--secondary-color);
  --sidebar-hover-color: rgba(255, 255, 255, 0.1);
  --sidebar-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: var(--quaternary-color);
  --headerMenu-bg: var(--primary-color);
  --headerMenu-shadow: var(--shadow);
  --headerTitle-color: var(--text-color-iconic);
  --headerTitle-underline-color: var(--tertiary-color);
  --newChatBtn-color: var(--secondary-color);
  --newChatBtn-after-color: var(--tertiary-color);
  --newChatBtn-shadow: var(--shadow);

  /* MessageBubble */
  --userMsg-bg: var(--secondary-color);
  --userMsg-bg-shadow: none;
  --aiMsg-bg: var(--primary-color);
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  --aiLoader-primary: var(--primary-color);
  --aiLoader-secondary: #656e7a;

  /* DropdownMenu */
  --dropdownBtn-bg: var(--quaternary-color);
  --dropdownBtn-hover-bg: rgba(0, 0, 0, 0.3);
  --dropdownBtn-shadow: none;
  --dropdownMenu-bg: var(--quaternary-color);
  --dropdownMenu-shadow: var(--dark-shadow);
  --dropdownMenu-opt-hover-bg: var(--secondary-color);

  /* Menubar */
  --menubar-bg: var(--quaternary-color);
  --menubar-active-item-bg: var(--secondary-color);
  --menubar-shadow: none;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff7300, #f12b6d, #0026ff);

  /* ProfilePage */
  --profile-input-border-color: var(--quaternary-color);
  --profile-input-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  --profile-input-valid-color: rgb(7, 134, 7);
  --profileBtn-bg: var(--secondary-color);
  --profileBtn-hover-shadow: var(--secondary-color);

  /* AboutPage */
  --aboutCard-bg: var(--primary-color);
  --aboutCard-shadow: var(--shadow);
  --aboutBtn-bg: var(--secondary-color);
  --aboutBtn-shadow: var(--secondary-color);

  /* SettingsPage */
  --settingsBorder-color: var(--quaternary-color);
  --themeCard-bg: var(--quaternary-color);
  --themeCard-shadow: none;
  --themeCard-hover-shadow: var(--hover-shadow);
}

.Dawn_n_Dusk-dark {
  /* General */
  --primary-color: #121212;
  --secondary-color: #3c3c3c;
  --tertiary-color: #5e43f3;
  --tertiary-linear-gradient: linear-gradient(135deg, #5e43f3, #382bf0);
  --quaternary-color: #252525;
  --subPage-bg: var(--primary-color);

  --text-color-light: #ffffff;
  --text-color-opposite: #ffffff;
  --text-color-iconic: #f5f7fa;
  --placeholder-color: #bebebe;

  --inputBox-bg: var(--secondary-color);
  --inputBox-border-color: transparent;
  --inputBoxBtn-hover-color: rgba(108, 108, 108, 0.4);
  --inputBox-shadow: var(--shadow);

  --shadow: 0 0 10px rgba(0, 0, 0, 5);
  --dark-shadow: 0 0 10px rgba(0, 0, 0);
  --hover-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  --copyBtn-shadow: 0 0 2px rgba(0, 0, 0);

  /* Sidebar */
  --sidebar-color: var(--secondary-color);
  --sidebar-hover-color: var(--tertiary-linear-gradient);
  --sidebar-shadow: none;

  /* Header */
  --headerMenu-bg: var(--secondary-color);
  --headerMenu-btn-hover-bg: var(--secondary-color);
  --headerMenu-shadow: var(--shadow);
  --headerTitle-color: var(--text-color-iconic);
  --headerTitle-underline-color: var(--tertiary-color);
  --newChatBtn-color: var(--secondary-color);
  --newChatBtn-after-color: var(--tertiary-linear-gradient);
  --newChatBtn-shadow: none;

  /* MessageBubble */
  --userMsg-bg: var(--tertiary-linear-gradient);
  --userMsg-bg-shadow: none;
  --aiMsg-bg: var(--quaternary-color);
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  --aiLoader-primary: var(--quaternary-color);
  --aiLoader-secondary: #757575;

  /* DropdownMenu */
  --dropdownBtn-bg: var(--secondary-color);
  --dropdownBtn-hover-bg: rgba(255, 255, 255, 0.1);
  --dropdownBtn-shadow: none;
  --dropdownMenu-bg: var(--secondary-color);
  --dropdownMenu-shadow: var(--dark-shadow);
  --dropdownMenu-opt-hover-bg: var(--tertiary-linear-gradient);

  /* Menubar */
  --menubar-bg: var(--secondary-color);
  --menubar-active-item-bg: var(--tertiary-linear-gradient);
  --menubar-shadow: none;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff8d2f, #f12b6d, #0026ff);

  /* ProfilePage */
  --profile-input-border-color: none;
  --profile-input-shadow: none;
  --profile-input-valid-color: var(--tertiary-color);
  --profileBtn-bg: var(--tertiary-linear-gradient);
  --profileBtn-hover-shadow: var(--tertiary-color);

  /* AboutPage */
  --aboutCard-bg: var(--secondary-color);
  --aboutCard-shadow: var(--shadow);
  --aboutBtn-bg: var(--tertiary-linear-gradient);
  --aboutBtn-shadow: var(--tertiary-color);

  /* SettingsPage */
  --settingsBorder-color: var(--secondary-color);
  --themeCard-bg: var(--secondary-color);
  --themeCard-shadow: var(--shadow);
  --themeCard-hover-shadow: var(--hover-shadow);
}

/*  Theme 2: Cyber_Tech_01 */

.Cyber_Tech_01-light {
  /* General */
  --primary-color: #bdc8d3;
  --secondary-color: #153fc5;
  --text-color1: #ece2d5;
  --text-color2: #0c0a18;
  --placeholder-text-color: #64696e;
  --inputGroup-bg: #e2e8f0;
  --inputGroup-border-color: #153fc5;
  --inputGroupBtn-hover-color: rgba(109, 108, 108, 0.2);
  --inputGroup-shadow: 0 0 10px #6885a3;

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.2);
  --sidebar-color: #153fc5;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: rgba(108, 108, 108, 0.2);
  --headerMenu-bg: #e2e8f0;
  --headerMenu-shadow: 0 0 10px #6885a3;
  --headerTitle-color: #2e3236;
  --headerTitle-underline-color: #153fc5;
  --newChatBtn-color: #3b3f44;
  --newChatBtn-after-color: var(--secondary-color);
  --newChatBtn-shadow: none;

  /* MessageBubble */
  --userMsg-bg: #153fc5;
  --userMsg-bg-shadow: none;
  --aiMsg-bg: #e2e8f0;
  --aiMsg-bg-shadow: 0 0 5px #808f9e;
  --aiLoader-primary: #e2e8f0;
  --aiLoader-secondary: #3a68ff;
  --copyBtn-shadow: 0 0 2px #3b3f44;

  /* DropdownMenu */
  --dropdownBtn-bg: #e2e8f0;
  --dropdownBtn-hover-bg: rgba(0, 0, 0, 0.1);
  --dropdownBtn-shadow: 0 0 5px #607080;
  --dropdownMenu-bg: #e2e8f0;
  --dropdownMenu-opt-hover-bg: #c1cdf3;
  --dropdownMenu-shadow: 0 0 5px #607080;

  /* Menubar */
  --menubar-bg: #e2e8f0;
  --menubar-active-item-bg: #90a6ee;
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(90deg, #0021df, #3d91ff);

  /* ProfilePage */
  --profile-input-border-color: #4c6ace;
  --profile-input-shadow: none;
  --profile-input-valid-color: #153fc5;
  --profile-btn-bg: #153fc5;

  /* AboutPage */
  --aboutCard-bg: #e2e8f0;
  --aboutCard-shadow: 0 0 10px #a3b3c4;
  --aboutBtn-bg: #153fc5;
  --aboutBtn-shadow: #153fc5;

  /* SettingsPage */
  --settingsBorder-color: #ece2d5;
  --themeCard-bg: #e2e8f0;
  --themeCard-shadow: 0 0 10px #a3b3c4;
  --themeCard-hover-shadow: 0 0 10px #607080;
}

.Cyber_Tech_01-dark {
  /* General */
  --primary-color: #0c0a18;
  --secondary-color: rgba(108, 108, 108, 0.15);
  --secondary-color-opaque: #1a1924;
  --tertiary-color: #0026ff;
  --tertiary-linear-gradient: linear-gradient(125deg, #0026ff, #5b00af);
  --subPage-bg: rgba(108, 108, 108, 0.05);

  --text-color-light: #ece2d5;
  --text-color-opposite: #ece2d5;
  --text-color-iconic: #ece2d5;
  --placeholder-color: #b9b9b9;

  --inputBox-bg: var(--secondary-color);
  --inputBox-border-color: transparent;
  --inputBoxBtn-hover-color: var(--secondary-color);
  --inputBox-shadow: var(--shadow);

  --shadow: 0 0 2px #ece2d5;
  --hover-shadow: 0 0 10px #857e76;
  --copyBtn-shadow: var(--shadow);

  /* Sidebar */
  --sidebar-color: var(--primary-color);
  --sidebar-hover-color: var(--tertiary-linear-gradient);
  --sidebar-shadow: var(--shadow);

  /* Header */
  --headerMenu-btn-hover-bg: var(--secondary-color);
  --headerMenu-bg: #1a1924b3;
  --headerMenu-shadow: var(--shadow);
  --headerTitle-underline-color: var(--tertiary-color);
  --newChatBtn-color: var(--secondary-color-opaque);
  --newChatBtn-after-color: var(--tertiary-color);
  --newChatBtn-shadow: var(--shadow);

  /* MessageBubble */
  --userMsg-bg: var(--tertiary-linear-gradient);
  --userMsg-bg-shadow: none;
  --aiMsg-bg: var(--secondary-color);
  --aiMsg-bg-shadow: var(--shadow);
  --aiLoader-primary: var(--secondary-color);
  --aiLoader-secondary: #ece2d5;

  /* DropdownMenu */
  --dropdownBtn-bg: var(--secondary-color);
  --dropdownBtn-hover-bg: rgba(255, 255, 255, 0.1);
  --dropdownBtn-shadow: var(--shadow);
  --dropdownMenu-bg: rgba(26, 25, 36, 0.8);
  --dropdownMenu-shadow: var(--shadow);
  --dropdownMenu-opt-hover-bg: var(--tertiary-linear-gradient);

  /* Menubar */
  --menubar-bg: var(--secondary-color);
  --menubar-active-item-bg: var(--tertiary-linear-gradient);
  --menubar-shadow: var(--shadow);

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff8d2f, #f12b6d, #0026ff);

  /* ProfilePage */
  --profile-input-border-color: none;
  --profile-input-shadow: var(--shadow);
  --profile-input-valid-color: var(--tertiary-color);
  --profileBtn-bg: var(--tertiary-linear-gradient);
  --profileBtn-hover-shadow: var(--tertiary-color);

  /* AboutPage */
  --aboutCard-bg: var(--secondary-color);
  --aboutCard-shadow: var(--shadow);
  --aboutBtn-bg: var(--tertiary-linear-gradient);
  --aboutBtn-shadow: var(--tertiary-color);

  /* SettingsPage */
  --settingsBorder-color: #3c3c3c;
  --themeCard-bg: var(--secondary-color);
  --themeCard-shadow: var(--shadow);
  --themeCard-hover-shadow: var(--hover-shadow);
}

/* Theme 3: Aesthetics_Unbound */

.Aesthetics_Unbound-light {
  /* General */
  --primary-color: #fff4e4;
  --secondary-color: #2b1a12;
  --tertiary-color: #dc6d18;
  --quaternary-color: #f8e0c9;
  --subPage-bg: var(--primary-color);

  --text-color-light: #fff4e4;
  --text-color-opposite: #000000;
  --text-color-iconic: #524b44;
  --placeholder-color: #77716c;

  --inputBox-bg: var(--primary-color);
  --inputBox-border-color: var(--tertiary-color);
  --inputBoxBtn-hover-color: var(--quaternary-color);
  --inputBox-shadow: var(--shadow);

  --shadow: 0 0 6px rgba(43, 26, 18, 0.5);
  --shadow-wide: 0 0 10px rgba(43, 26, 18, 0.5);
  --hover-shadow: 0 0 15px rgba(43, 26, 18, 0.8);
  --copyBtn-shadow: 0 0 2px #2b1a12;

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.2);
  --sidebar-color: var(--secondary-color);
  --sidebar-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: var(--quaternary-color);
  --headerMenu-bg: var(--quaternary-color);
  --headerMenu-shadow: var(--shadow);
  --headerTitle-underline-color: var(--tertiary-color);
  --newChatBtn-color: #635a51;
  --newChatBtn-after-color: var(--tertiary-color);
  --newChatBtn-shadow: none;

  /* MessageBubble */
  --userMsg-bg: var(--secondary-color);
  --userMsg-bg-shadow: none;
  --aiMsg-bg: var(--quaternary-color);
  --aiMsg-bg-shadow: 0 0 4px rgba(43, 26, 18, 0.5);
  --aiLoader-primary: var(--quaternary-color);
  --aiLoader-secondary: #866454;

  /* DropdownMenu */
  --dropdownBtn-bg: var(--quaternary-color);
  --dropdownBtn-hover-bg: #b1aa81;
  --dropdownBtn-shadow: var(--shadow);
  --dropdownMenu-bg: var(--quaternary-color);
  --dropdownMenu-opt-hover-bg: #b1aa81;
  --dropdownMenu-shadow: var(--shadow-wide);

  /* Menubar */
  --menubar-bg: var(--quaternary-color);
  --menubar-active-item-bg: var(--tertiary-color);
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #d65d00, #dc6d18, #b1aa81);

  /* ProfilePage */
  --profile-input-border-color: #ccac93;
  --profile-input-shadow: 0 0 7px rgba(43, 26, 18, 0.3);
  --profile-input-valid-color: var(--tertiary-color);
  --profileBtn-bg: var(--tertiary-color);
  --profileBtn-hover-shadow: var(--tertiary-color);

  /* AboutPage */
  --aboutCard-bg: var(--quaternary-color);
  --aboutCard-shadow: var(--shadow-wide);
  --aboutBtn-bg: var(--tertiary-color);
  --aboutBtn-shadow: #9b4300;

  /* SettingsPage */
  --settingsBorder-color: var(--tertiary-color);
  --themeCard-bg: var(--quaternary-color);
  --themeCard-shadow: var(--shadow-wide);
  --themeCard-hover-shadow: var(--hover-shadow);
}

.Aesthetics_Unbound-dark {
  /* General */
  --primary-color: #322c2b;
  --secondary-color: #1a1515;
  --tertiary-color: #3c3c3c;
  --quaternary-color: #d83b26b7;
  --subPage-bg: var(--primary-color);

  --text-color-light: #f0ebe7;
  --text-color-opposite: #d1c7bb;
  --text-color-iconic: #d1c7bb;
  --placeholder-color: #645f58;

  --inputBox-bg: var(--secondary-color);
  --inputBox-border-color: var(--quaternary-color);
  --inputBoxBtn-hover-color: var(--primary-color);
  --inputBox-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  --shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --hover-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  --copyBtn-shadow: 0 0 2.5px #000000;

  /* Sidebar */
  --sidebar-color: var(--secondary-color);
  --sidebar-hover-color: rgba(0, 0, 0, 0.3);
  --sidebar-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: var(--tertiary-color);
  --headerMenu-bg: var(--tertiary-color);
  --headerMenu-shadow: var(--shadow);
  --headerTitle-underline-color: var(--quaternary-color);
  --newChatBtn-color: var(--tertiary-color);
  --newChatBtn-after-color: var(--quaternary-color);
  --newChatBtn-shadow: var(--shadow);

  /* MessageBubble */
  --userMsg-bg: var(--quaternary-color);
  --userMsg-bg-shadow: none;
  --aiMsg-bg: var(--tertiary-color);
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  --aiLoader-primary: var(--tertiary-color);
  --aiLoader-secondary: #d66455b7;

  /* DropdownMenu */
  --dropdownBtn-bg: var(--tertiary-color);
  --dropdownBtn-hover-bg: #555555;
  --dropdownBtn-shadow: var(--shadow);
  --dropdownMenu-bg: var(--tertiary-color);
  --dropdownMenu-opt-hover-bg: var(--quaternary-color);
  --dropdownMenu-shadow: var(--shadow);

  /* Menubar */
  --menubar-bg: var(--tertiary-color);
  --menubar-active-item-bg: var(--quaternary-color);
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff1e00b7, #fa6c59b7);

  /* ProfilePage */
  --profile-input-border-color: #68433db7;
  --profile-input-shadow: var(--shadow);
  --profile-input-valid-color: var(--quaternary-color);
  --profileBtn-bg: var(--quaternary-color);
  --profileBtn-hover-shadow: var(--quaternary-color);

  /* AboutPage */
  --aboutCard-bg: var(--tertiary-color);
  --aboutCard-shadow: var(--shadow);
  --aboutBtn-bg: var(--quaternary-color);
  --aboutBtn-shadow: var(--quaternary-color);

  /* SettingsPage */
  --settingsBorder-color: var(--quaternary-color);
  --themeCard-bg: var(--tertiary-color);
  --themeCard-shadow: var(--shadow);
  --themeCard-hover-shadow: var(--hover-shadow);
}

/* ====================================================*/
/*              Few others common styles               */
/* ====================================================*/

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color2);
}

#root {
  width: 100%;
  display: flex;
}

/* Common for all pages */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
