/* ====================================================*/
/*             All Fonts used in the App               */
/* ====================================================*/

@font-face {
  font-family: "nasa";
  src: url("assets/font/nasalization-rg.otf");
}

@font-face {
  font-family: "ai-text";
  src: url("assets/font/KodeMono.ttf");
}

@font-face {
  font-family: "exo2";
  src: url("assets/font/Exo2.ttf");
}

/* ====================================================*/
/*              Whole App's Theme Color                */
/* ====================================================*/

/* Theme 1: Dawn_n_Dusk */
.Dawn_n_Dusk-light {
  /* Common */
  --primary-color: #f5f7fa;
  --secondary-color: #1f2937;
  --text-color1: #ffffff;
  --text-color2: #1f2937;
  --placeholder-text-color: #666666;
  --changeable-icon-filter: none;
  --inputGroup-bg: #ffffff;
  --inputGroup-border-color: grey;
  --inputGroupBtn-hover-color: #e0e4e8;
  --inputGroup-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.1);
  --sidebar-color: #1f2937;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #e0e4e8;
  --headerMenu-bg: #ffffff;
  --headerMenu-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --headerMenu-opt-hover-bg: #6c82ff;
  --headerTitle-color: #1f2937;
  --headerTitle-underline-color: #6c82ff;
  --newChatBtn-color: #1f2937;
  --newChatBtn-after-color: #6c82ff;
  --newChatBtn-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  /* MessageViewer */
  --humanMsg-bg: #1f2937;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #ffffff;
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --aiLoader-primary: var(--primary-color);
  --aiLoader-secondary: #656e7a;

  /* DropdownMenu */
  --dropdownBtn-bg: #e0e4e8;
  --dropdownBtn-hover-bg: rgba(0, 0, 0, 0.3);
  --dropdownBtn-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  --dropdownMenu-bg: #e0e4e8;
  --dropdownMenu-selected-bg: #6c82ff;
  --dropdownMenu-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  /* Menubar */
  --menubar-bg: #e0e4e8;
  --menubar-active-item-bg: #1f2937;
  --menubar-active-text-color: var(--text-color1);

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff7300, #f12b6d, #0026ff);

  /* ProfilePage */
  --profile-input-border-color: rgba(105, 105, 105, 0.397);
  --profile-input-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --profile-input-valid-color: green;
  --profile-btn-bg: #1f2937;

  /* AboutPage */
  --aboutCard-bg: #ffffff;
  --aboutCard-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --aboutBtn-bg: #1f2937;
  --aboutBtn-shadow: #1f2937;

  /* SettingsPage */
  --SettingsBorder-color: #cccccc;
  --themeCard-bg: transparent;
  --themeCard-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --themeCard-hover-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.Dawn_n_Dusk-dark {
  /* Common */
  --primary-color: #121212;
  --secondary-color: #3c3c3c;
  --text-color1: #ffffff;
  --text-color2: #ffffff;
  --placeholder-text-color: #bebebe;
  --changeable-icon-filter: invert(100%);
  --inputGroup-bg: #3c3c3c;
  --inputGroup-border-color: #5e43f3;
  --inputGroupBtn-hover-color: #6e6e6e;
  --inputGroup-shadow: 0 0 10px rgba(0, 0, 0, 5);

  /* Sidebar */
  --sidebar-hover-color: linear-gradient(135deg, #5e43f3, #382bf0);
  --sidebar-color: #3c3c3c;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #3c3c3c;
  --headerMenu-bg: #3c3c3c;
  --headerMenu-shadow: 0 0 20px #000;
  --headerMenu-opt-hover-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --headerTitle-color: #f5f7fa;
  --headerTitle-underline-color: #5e43f3;
  --newChatBtn-color: #3c3c3c;
  --newChatBtn-after-color: linear-gradient(135deg, #5e43f3, #382bf0);
  --newChatBtn-shadow: none;

  /* MessageViewer */
  --humanMsg-bg: #382bf0;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #252525;
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  --aiLoader-primary: #252525;
  --aiLoader-secondary: #757575;

  /* DropdownMenu */
  --dropdownBtn-bg: #3c3c3c;
  --dropdownBtn-hover-bg: rgba(255, 255, 255, 0.1);
  --dropdownBtn-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  --dropdownMenu-bg: #3c3c3c;
  --dropdownMenu-selected-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --dropdownMenu-shadow: 0 0 20px #000;

  /* Menubar */
  --menubar-bg: #3c3c3c;
  --menubar-active-item-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --menubar-item-hover-bg: rgba(255, 255, 255, 0.1);

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff8d2f, #f12b6d, #0026ff);

  /* ProfilePage */
  --profile-input-border-color: none;
  --profile-input-shadow: none;
  --profile-input-valid-color: #655beb;
  --profile-btn-bg: #382bf0;

  /* AboutPage */
  --aboutCard-bg: #252525;
  --aboutCard-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  --aboutBtn-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --aboutBtn-shadow: #382bf0;

  /* SettingsPage */
  --SettingsBorder-color: #3c3c3c;
  --themeCard-bg: #3c3c3c;
  --themeCard-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  --themeCard-hover-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

/*  Theme 2: Cyber_Tech_01 */
.Cyber_Tech_01-light {
  /* Common */
  --primary-color: #bdc8d3;
  --secondary-color: #153fc5;
  --text-color1: #ece2d5;
  --text-color2: #0c0a18;
  --placeholder-text-color: #64696e;
  --changeable-icon-filter: none;
  --inputGroup-bg: #e2e8f0;
  --inputGroup-border-color: #153fc5;
  --inputGroupBtn-hover-color: rgba(109, 108, 108, 0.2);
  --inputGroup-shadow: 0 0 10px #6885a3;

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.2);
  --sidebar-color: #153fc5;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: rgba(108, 108, 108, 0.2);
  --headerMenu-bg: #e2e8f0;
  --headerMenu-shadow: 0 0 10px #6885a3;
  --headerMenu-opt-hover-bg: #c1cdf3;
  --headerTitle-color: #2e3236;
  --headerTitle-underline-color: #153fc5;
  --newChatBtn-color: #3b3f44;
  --newChatBtn-after-color: var(--secondary-color);
  --newChatBtn-shadow: none;

  /* MessageViewer */
  --humanMsg-bg: #153fc5;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #e2e8f0;
  --aiMsg-bg-shadow: 0 0 5px #808f9e;
  --aiLoader-primary: #e2e8f0;
  --aiLoader-secondary: #3a68ff;

  /* DropdownMenu */
  --dropdownBtn-bg: #e2e8f0;
  --dropdownBtn-hover-bg: rgba(0, 0, 0, 0.1);
  --dropdownBtn-shadow: 0 0 5px #607080;
  --dropdownMenu-bg: #e2e8f0;
  --dropdownMenu-selected-bg: #90a6ee;
  --dropdownMenu-shadow: 0 0 5px #607080;

  /* Menubar */
  --menubar-bg: #e2e8f0;
  --menubar-active-item-bg: #90a6ee;
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(90deg, #0021df, #3d91ff);

  /* ProfilePage */
  --profile-input-border-color: #4c6ace;
  --profile-input-shadow: none;
  --profile-input-valid-color: #153fc5;
  --profile-btn-bg: #153fc5;

  /* AboutPage */
  --aboutCard-bg: #e2e8f0;
  --aboutCard-shadow: 0 0 10px #a3b3c4;
  --aboutBtn-bg: #153fc5;
  --aboutBtn-shadow: #153fc5;

  /* SettingsPage */
  --SettingsBorder-color: #ece2d5;
  --themeCard-bg: #e2e8f0;
  --themeCard-shadow: 0 0 10px #a3b3c4;
  --themeCard-hover-shadow: 0 0 10px #607080;
}

.Cyber_Tech_01-dark {
  /* Common */
  --primary-color: #0c0a18;
  --secondary-color: linear-gradient(125deg, #0026ff, #5b00af);
  --text-color1: #ece2d5;
  --text-color2: #ece2d5;
  --placeholder-text-color: #b9b9b9;
  --changeable-icon-filter: invert(100%);
  --inputGroup-bg: rgba(109, 108, 108, 0.15);
  --inputGroup-border-color: #433788;
  --inputGroupBtn-hover-color: rgba(109, 108, 108, 0.15);
  --inputGroup-shadow: 0 0 2px #ece2d5;

  /* Sidebar */
  --sidebar-hover-color: linear-gradient(125deg, #0026ff, #5b00af);
  --sidebar-color: #0c0a18;
  --sidebar-shadow: 0 0 2px #ece2d5;
  --sidebar-present-page-color: #6d6c6c26;
  --sidebar-present-page-shadow: 0 0 2px #ece2d5;

  /* Header */
  --headerMenu-btn-hover-bg: rgba(109, 108, 108, 0.2);
  --headerMenu-bg: #1a1924b3;
  --headerMenu-shadow: 0 0 2px #ece2d5;
  --headerMenu-opt-hover-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --headerTitle-color: #ece2d5;
  --headerTitle-underline-color: #5e43f3;
  --newChatBtn-color: #1a1924;
  --newChatBtn-after-color: var(--secondary-color);
  --newChatBtn-shadow: 0 0 2px #ece2d5;

  /* MessageViewer */
  --humanMsg-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: rgba(109, 108, 108, 0.15);
  --aiMsg-bg-shadow: 0 0 2px #ece2d5;
  --aiLoader-primary: rgba(109, 108, 108, 0.1);
  --aiLoader-secondary: #ece2d5;

  /* DropdownMenu */
  --dropdownBtn-bg: rgba(109, 108, 108, 0.15);
  --dropdownBtn-hover-bg: rgba(255, 255, 255, 0.1);
  --dropdownBtn-shadow: 0 0 2px #ece2d5;
  --dropdownMenu-bg: rgba(26, 25, 36, 0.8);
  --dropdownMenu-selected-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --dropdownMenu-shadow: 0 0 2px #ece2d5;

  /* Menubar */
  --menubar-bg: rgba(109, 108, 108, 0.15);
  --menubar-shadow: 0 0 2px #ece2d5;
  --menubar-active-item-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --menubar-item-hover-bg: rgba(255, 255, 255, 0.1);

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff8d2f, #f12b6d, #0026ff);

  /* ProfilePage */
  --profile-input-border-color: none;
  --profile-input-shadow: 0 0 2px #ece2d5;
  --profile-input-valid-color: #0026ff;
  --profile-btn-bg: linear-gradient(125deg, #0026ff, #5b00af);

  /* AboutPage */
  --aboutCard-bg: rgba(109, 108, 108, 0.15);
  --aboutCard-shadow: 0 0 2px #ece2d5;
  --aboutBtn-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --aboutBtn-shadow: #0026ff;

  /* SettingsPage */
  --SettingsBorder-color: #3c3c3c;
  --themeCard-bg: rgba(109, 108, 108, 0.15);
  --themeCard-shadow: 0 0 2px #ece2d5;
  --themeCard-hover-shadow: 0 0 10px #857e76;
}

/* Theme 3: Aesthetics_Unbound */
.Aesthetics_Unbound-light {
  /* Common */
  --primary-color: #fff4e4;
  --secondary-color: #2b1a12;
  --text-color1: #fff4e4;
  --text-color2: #000000;
  --placeholder-text-color: #77716c;
  --changeable-icon-filter: none;
  --inputGroup-bg: #ffffff;
  --inputGroup-border-color: #dc6d18;
  --inputGroupBtn-hover-color: #f8e0c9;
  --inputGroup-shadow: 0 0 10px rgba(43, 26, 18, 0.5);

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.2);
  --sidebar-color: #2b1a12;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #f8e0c9;
  --headerMenu-bg: #f8e0c9;
  --headerMenu-shadow: 0 0 5px rgba(43, 26, 18, 0.5);
  --headerMenu-opt-hover-bg: #b1aa81;
  --headerTitle-color: #524b44;
  --headerTitle-underline-color: #dc6d18;
  --newChatBtn-color: #635a51;
  --newChatBtn-after-color: #dc6d18;
  --newChatBtn-shadow: none;

  /* MessageViewer */
  --humanMsg-bg: #2b1a12;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #f8e0c9;
  --aiMsg-bg-shadow: none;
  --aiLoader-primary: #f8e0c9;
  --aiLoader-secondary: #866454;

  /* DropdownMenu */
  --dropdownBtn-bg: #f8e0c9;
  --dropdownBtn-hover-bg: #b1aa81;
  --dropdownBtn-shadow: 0 0 5px rgba(43, 26, 18, 0.4);
  --dropdownMenu-bg: #f8e0c9;
  --dropdownMenu-selected-bg: #dc6d18;
  --dropdownMenu-shadow: 0 0 10px rgba(43, 26, 18, 0.5);

  /* Menubar */
  --menubar-bg: #f8e0c9;
  --menubar-active-item-bg: #dc6d18;
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #d65d00, #dc6d18, #b1aa81);

  /* ProfilePage */
  --profile-input-border-color: #ccac93;
  --profile-input-shadow: none;
  --profile-input-valid-color: #dc6d18;
  --profile-btn-bg: #dc6d18;

  /* AboutPage */
  --aboutCard-bg: #f8e0c9;
  --aboutCard-shadow: 0 0 10px rgba(43, 26, 18, 0.5);
  --aboutBtn-bg: #dc6d18;
  --aboutBtn-shadow: #9b4300;

  /* SettingsPage */
  --SettingsBorder-color: #dc6d18;
  --themeCard-bg: #f8e0c9;
  --themeCard-shadow: 0 0 10px rgba(43, 26, 18, 0.5);
  --themeCard-hover-shadow: 0 0 15px rgba(43, 26, 18, 0.8);
}

.Aesthetics_Unbound-dark {
  /* Common */
  --primary-color: #322c2b;
  --secondary-color: #1a1515;
  --text-color1: #f0ebe7;
  --text-color2: #d1c7bb;
  --placeholder-text-color: #645f58;
  --changeable-icon-filter: invert(100%);
  --inputGroup-bg: #1a1515;
  --inputGroup-border-color: #d83b26b7;
  --inputGroupBtn-hover-color: #322c2b;
  --inputGroup-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  /* Sidebar */
  --sidebar-hover-color: rgba(0, 0, 0, 0.3);
  --sidebar-color: #1a1515;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #3c3c3c;
  --headerMenu-bg: #3c3c3c;
  --headerMenu-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --headerMenu-opt-hover-bg: #d83b26b7;
  --headerTitle-color: #d1c7bb;
  --headerTitle-underline-color: #d83b26b7;
  --newChatBtn-color: #322c2b;
  --newChatBtn-after-color: #d83b26b7;
  --newChatBtn-shadow: 0 0 2px rgba(0, 0, 0, 0.9);

  /* MessageViewer */
  --humanMsg-bg: #d83b26b7;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #3c3c3c;
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  --aiLoader-primary: #3c3c3c;
  --aiLoader-secondary: #d66455b7;

  /* DropdownMenu */
  --dropdownBtn-bg: #3c3c3c;
  --dropdownBtn-hover-bg: #555555;
  --dropdownBtn-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --dropdownMenu-bg: #3c3c3c;
  --dropdownMenu-selected-bg: #d83b26b7;
  --dropdownMenu-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  /* Menubar */
  --menubar-bg: #3c3c3c;
  --menubar-active-item-bg: #d83b26b7;
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff1e00b7, #fa6c59b7);

  /* ProfilePage */
  --profile-input-border-color: #68433db7;
  --profile-input-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --profile-input-valid-color: #d83b26b7;
  --profile-btn-bg: #d83b26b7;

  /* AboutPage */
  --aboutCard-bg: #3c3c3c;
  --aboutCard-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --aboutBtn-bg: #d83b26b7;
  --aboutBtn-shadow: #d83b26b7;

  /* SettingsPage */
  --SettingsBorder-color: #d83b26b7;
  --themeCard-bg: #3c3c3c;
  --themeCard-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --themeCard-hover-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

/* ====================================================*/
/*              Few others common styles               */
/* ====================================================*/

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color2);
}

.body-container {
  width: 100%;
  display: flex;
}

/* Main Content */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
