/* ====================================================*/
/*             All Fonts used in the App               */
/* ====================================================*/

@font-face {
  font-family: "nasa";
  src: url("assets/font/nasalization-rg.otf");
}

@font-face {
  font-family: "ai-text";
  src: url("assets/font/KodeMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "exo2";
  src: url("assets/font/Exo2-VariableFont_wght.ttf");
}

/* ====================================================*/
/*              Whole App's Theme Color                */
/* ====================================================*/

/* Theme 1: Dawn_n_Dusk */
.Dawn_n_Dusk-light {
  /* Common */
  --primary-color: #f5f7fa;
  --secondary-color: #1f2937;
  --text-color1: #ffffff;
  --text-color2: #1f2937;
  --placeholder-text-color: #666666;
  --changeable-icon-filter: none;
  --inputGroup-bg: #ffffff;
  --inputGroup-border-color: grey;
  --inputGroupBtn-hover-color: #b9b9b9;
  --inputGroup-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.1);
  --sidebar-color: #1f2937;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #cccccc;
  --headerMenu-bg: #ffffff;
  --headerMenu-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  --headerMenu-opt-hover-bg: #eeeeee;
  --headerTitle-color: #1f2937;
  --headerTitle-underline-color: #6c82ff;
  --newChatBtn-color: #40454e;
  --newChatBtn-shadow: none;

  /* EmailComposeBox */
  --composeBoxBtn-color: #175ab8;
  --composeBoxBtn-hover-color: #6081af;
  --composeBox-body-bg: #ececec;

  /* ScheduleViewer */
  --calendar-bg: #ffffff;
  --calendar-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --calendar-dimmed-text-color: #636363;
  --calendar-hover-color: #cccccc;
  --calendar-current-bg: #5972ff;
  --calendar-event-border-color: #b15efd;
  --calendar-task-border-color: #5972ff;
  --calendar-weekView-header-box-bg: #e9e9e9;
  --calendar-weekView-header-box-shadow: none;

  /* MessageViewer */
  --humanMsg-bg: #1f2937;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #ffffff;
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  /* DropdownMenu */
  --dropdownBtn-bg: #e0e4e8;
  --dropdownBtn-hover-bg: rgba(0, 0, 0, 0.3);
  --dropdownBtn-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  --dropdownMenu-bg: #e0e4e8;
  --dropdownMenu-selected-bg: rgba(0, 0, 0, 0.3);
  --dropdownMenu-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  /* Menubar */
  --menubar-bg: #e0e4e8;
  --menubar-active-item-bg: rgba(0, 0, 0, 0.3);
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff7300, #f12b6d, #0026ff);

  /* ProfilePage */

  /* AboutPage */
  --aboutCard-bg: #ffffff;
  --aboutCard-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  --aboutBtn-bg: #1f2937;
  --aboutBtn-shadow: #1f2937;

  /* SettingsPage */
  --SettingsBorder-color: #cccccc;
  --themeCard-bg: transparent;
  --themeCard-shadow: 0 0 10px #cccccc;
  --themeCard-hover-shadow: 0 0 20px #777777;
}

.Dawn_n_Dusk-dark {
  /* Common */
  --primary-color: #121212;
  --secondary-color: linear-gradient(135deg, #7b63ff, #0d00c7);
  --text-color1: #ffffff;
  --text-color2: #ffffff;
  --placeholder-text-color: #bebebe;
  --changeable-icon-filter: invert(100%);
  --inputGroup-bg: #3c3c3c;
  --inputGroup-border-color: #5e43f3;
  --inputGroupBtn-hover-color: #6e6e6e;
  --inputGroup-shadow: 0 0 5px rgba(0, 0, 0, 1);

  /* Sidebar */
  --sidebar-hover-color: linear-gradient(135deg, #5e43f3, #382bf0);
  --sidebar-color: #3c3c3c;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #3c3c3c;
  --headerMenu-bg: #3c3c3c;
  --headerMenu-shadow: 0 0 20px #000;
  --headerMenu-opt-hover-bg: var(--sidebar-hover-color);
  --headerTitle-color: #f5f7fa;
  --headerTitle-underline-color: #5e43f3;
  --newChatBtn-color: #3c3c3c;
  --newChatBtn-shadow: none;

  /* EmailComposeBox */
  --composeBoxBtn-color: #382bf0;
  --composeBoxBtn-hover-color: #594efc;
  --composeBox-body-bg: #3c3c3c;

  /* ScheduleViewer */
  --calendar-bg: #252525;
  --calendar-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  --calendar-dimmed-text-color: #8f8f8f;
  --calendar-hover-color: #3c3c3c;
  --calendar-current-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --calendar-event-border-color: #8f27f0;
  --calendar-task-border-color: #382bf0;
  --calendar-weekView-header-box-bg: #3c3c3c;
  --calendar-weekView-header-box-shadow: none;

  /* MessageViewer */
  --humanMsg-bg: #382bf0;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #252525;
  --aiMsg-bg-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  /* DropdownMenu */
  --dropdownBtn-bg: #3c3c3c;
  --dropdownBtn-hover-bg: rgba(255, 255, 255, 0.1);
  --dropdownBtn-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  --dropdownMenu-bg: #3c3c3c;
  --dropdownMenu-selected-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --dropdownMenu-shadow: 0 0 20px #000;

  /* Menubar */
  --menubar-bg: #3c3c3c;
  --menubar-active-item-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --menubar-item-hover-bg: rgba(255, 255, 255, 0.1);

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff8d2f, #f12b6d, #0026ff);

  /* ProfilePage */

  /* AboutPage */
  --aboutCard-bg: #252525;
  --aboutCard-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  --aboutBtn-bg: linear-gradient(135deg, #5e43f3, #382bf0);
  --aboutBtn-shadow: #382bf0;

  /* SettingsPage */
  --SettingsBorder-color: #3c3c3c;
  --themeCard-bg: #3c3c3c;
  --themeCard-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  --themeCard-hover-shadow: 0 0 25px #000000;
}

/*  Theme 2: Cyber_Tech_01 */
.Cyber_Tech_01-light {
  /* Common */
  --primary-color: #bdc8d3;
  --secondary-color: #153FC5;
  --text-color1: #ece2d5;
  --text-color2: #0c0a18;
  --placeholder-text-color: #64696e;
  --changeable-icon-filter: none;
  --inputGroup-bg:#E2E8F0;
  --inputGroup-border-color: #153FC5;
  --inputGroupBtn-hover-color: rgba(109, 108, 108, 0.2);
  --inputGroup-shadow: 0 0 10px #6885A3; 
  
  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.2);
  --sidebar-color: #153FC5;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: rgba(108, 108, 108, 0.2);
  --headerMenu-bg: #E2E8F0;
  --headerMenu-shadow: 0 0 10px #6885A3;
  --headerMenu-opt-hover-bg: #c1cdf3;
  --headerTitle-color: #2e3236;
  --headerTitle-underline-color: #153FC5;
  --newChatBtn-color: #3b3f44;
  --newChatBtn-shadow: none;

  /* EmailComposeBox */
  --composeBoxBtn-color: #153FC5;
  --composeBoxBtn-hover-color: #4367dd;
  --composeBox-body-bg: #E2E8F0;

  /* ScheduleViewer */
  --calendar-bg: #E2E8F0;
  --calendar-shadow: 0 0 10px #a3b3c4;
  --calendar-dimmed-text-color: #8f8f8f;
  --calendar-hover-color: rgba(146, 147, 147, 0.2);
  --calendar-current-bg: #153FC5;
  --calendar-event-border-color: #5b00af;
  --calendar-task-border-color: #153FC5;
  --calendar-weekView-header-box-bg: rgba(109, 108, 108, 0.15);
  --calendar-weekView-header-box-shadow: 0 0 2px #0c0a18;

  /* MessageViewer */
  --humanMsg-bg: #153FC5;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #E2E8F0;
  --aiMsg-bg-shadow: 0 0 5px #808f9e;

  /* DropdownMenu */
  --dropdownBtn-bg: #E2E8F0;
  --dropdownBtn-hover-bg: rgba(0, 0, 0, 0.1);
  --dropdownBtn-shadow: 0 0 5px #607080;
  --dropdownMenu-bg: #E2E8F0;
  --dropdownMenu-selected-bg: #90a6ee;
  --dropdownMenu-shadow: 0 0 5px #607080;

  /* Menubar */
  --menubar-bg: #E2E8F0;
  --menubar-active-item-bg: #90a6ee;
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(90deg, #0021df, #3d91ff);

  /* ProfilePage */

  /* AboutPage */
  --aboutCard-bg: #E2E8F0;
  --aboutCard-shadow: 0 0 10px #a3b3c4;
  --aboutBtn-bg:  #153FC5;
  --aboutBtn-shadow: #153FC5;

  /* SettingsPage */
  --SettingsBorder-color: #ece2d5;
  --themeCard-bg: #E2E8F0;
  --themeCard-shadow: 0 0 10px #a3b3c4;
  --themeCard-hover-shadow: 0 0 10px #607080;
}

.Cyber_Tech_01-dark {
  /* Common */
  --primary-color: #0c0a18;
  --secondary-color: linear-gradient(125deg, #0026ff, #5b00af);
  --text-color1: #ece2d5;
  --text-color2: #ece2d5;
  --placeholder-text-color: #b9b9b9;
  --changeable-icon-filter: invert(100%);
  --inputGroup-bg: #6d6c6c26;
  --inputGroup-border-color: #433788;
  --inputGroupBtn-hover-color: rgba(109, 108, 108, 0.2);
  --inputGroup-shadow: 0 0 2px #ece2d5;

  /* Sidebar */
  --sidebar-hover-color: linear-gradient(125deg, #0026ff, #5b00af);
  --sidebar-color: #0c0a18;
  --sidebar-shadow: 0 0 2px #ece2d5;
  --sidebar-present-page-color: #6d6c6c26;
  --sidebar-present-page-shadow: 0 0 2px #ece2d5;

  /* Header */
  --headerMenu-btn-hover-bg: rgba(109, 108, 108, 0.2);
  --headerMenu-bg: #1a1924b3;
  --headerMenu-shadow: 0 0 2px #ece2d5;
  --headerMenu-opt-hover-bg: var(--sidebar-hover-color);
  --headerTitle-color: #ece2d5;
  --headerTitle-underline-color: #5e43f3;
  --newChatBtn-color: #1a1924;
  --newChatBtn-shadow: 0 0 2px #ece2d5;

  /* EmailComposeBox */
  --composeBoxBtn-color: linear-gradient(125deg, #0026ff, #5b00af);
  --composeBoxBtn-hover-color: linear-gradient(125deg, #2747fd, #621ba5);
  --composeBox-body-bg: rgba(109, 108, 108, 0.2);

  /* ScheduleViewer */
  --calendar-bg: rgba(109, 108, 108, 0.15);
  --calendar-shadow: 0 0 2px #ece2d5;
  --calendar-dimmed-text-color: #8f8f8f;
  --calendar-hover-color: rgba(109, 108, 108, 0.2);
  --calendar-current-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --calendar-event-border-color: #5b00af;
  --calendar-task-border-color: #0026ff;
  --calendar-weekView-header-box-bg: rgba(109, 108, 108, 0.15);
  --calendar-weekView-header-box-shadow: 0 0 2px #ece2d5;

  /* MessageViewer */
  --humanMsg-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: rgba(109, 108, 108, 0.15);
  --aiMsg-bg-shadow: 0 0 2px #ece2d5;

  /* DropdownMenu */
  --dropdownBtn-bg: rgba(109, 108, 108, 0.15);
  --dropdownBtn-hover-bg: rgba(255, 255, 255, 0.1);
  --dropdownBtn-shadow: 0 0 2px #ece2d5;
  --dropdownMenu-bg: rgba(26, 25, 36, 0.8);
  --dropdownMenu-selected-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --dropdownMenu-shadow: 0 0 2px #ece2d5;

  /* Menubar */
  --menubar-bg: rgba(109, 108, 108, 0.15);
  --menubar-shadow: 0 0 2px #ece2d5;
  --menubar-active-item-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --menubar-item-hover-bg: rgba(255, 255, 255, 0.1);

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #ff8d2f, #f12b6d, #0026ff);

  /* ProfilePage */

  /* AboutPage */
  --aboutCard-bg: rgba(109, 108, 108, 0.15);
  --aboutCard-shadow: 0 0 2px #ece2d5;
  --aboutBtn-bg: linear-gradient(125deg, #0026ff, #5b00af);
  --aboutBtn-shadow: #0026ff;

  /* SettingsPage */
  --SettingsBorder-color: #3c3c3c;
  --themeCard-bg: rgba(109, 108, 108, 0.15);
  --themeCard-shadow: 0 0 2px #ece2d5;
  --themeCard-hover-shadow: 0 0 10px #857e76;
}

/* Theme 3: Aesthetics_Unbound */
.Aesthetics_Unbound-light {
  /* Common */
  --primary-color: #fcf1e5;
  --secondary-color: #b0a79c;
  --text-color1: #333333;
  --text-color2: #5f574f;
  --placeholder-text-color: #8a847e;
  --changeable-icon-filter: none;
  --inputGroup-bg: #ffffff;
  --inputGroup-border-color: #e63737c5;
  --inputGroupBtn-hover-color: #e0d7cf;
  --inputGroup-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.1);
  --sidebar-color: #b0a79c;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #eae4df;
  --headerMenu-bg: #ffffff;
  --headerMenu-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  --headerMenu-opt-hover-bg: #f0ebe7;
  --headerTitle-color: #5f574f;
  --headerTitle-underline-color: #c89d8f;
  --newChatBtn-color: linear-gradient(125deg, #d82626, #8d857c, #716760);
  --newChatBtn-shadow: none;

  /* EmailComposeBox */
  --composeBoxBtn-color: #d1a09e;
  --composeBoxBtn-hover-color: #d9b3af;
  --composeBox-body-bg: #faf8f6;

  /* ScheduleViewer */
  --calendar-bg: #ffffff;
  --calendar-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  --calendar-dimmed-text-color: #8a847e;
  --calendar-hover-color: #eae4df;
  --calendar-current-bg: #b0a79c;
  --calendar-event-border-color: #d89b95;
  --calendar-task-border-color: #b0a79c;
  --calendar-weekView-header-box-bg: #f0ebe7;
  --calendar-weekView-header-box-shadow: none;

  /* MessageViewer */
  --humanMsg-bg: #b0a79c;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #ffffff;
  --aiMsg-bg-shadow: none;

  /* DropdownMenu */
  --dropdownBtn-bg: #ffffff;
  --dropdownBtn-hover-bg: #f0ebe7;
  --dropdownBtn-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  --dropdownMenu-bg: #ffffff;
  --dropdownMenu-selected-bg: #f0ebe7;
  --dropdownMenu-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);

  /* Menubar */
  --menubar-bg: #ffffff;
  --menubar-active-item-bg: #f0ebe7;
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #d82626f3, #8c4040dd, #f9da9b);

  /* ProfilePage */

  /* AboutPage */
  --aboutCard-bg: #ffffff;
  --aboutCard-shadow: none;
  --aboutBtn-bg: #d83b26c7;
  --aboutBtn-shadow: none;

  /* SettingsPage */
  --SettingsBorder-color: #eae4df;
  --themeCard-bg: #faf8f6;
  --themeCard-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --themeCard-hover-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.Aesthetics_Unbound-dark {
  /* Common */
  --primary-color: #333333;
  --secondary-color: #8a847e;
  --text-color1: #f0ebe7;
  --text-color2: #d1c7bb;
  --placeholder-text-color: #b0a79c;
  --changeable-icon-filter: invert(100%);
  --inputGroup-bg: #3c3c3c;
  --inputGroup-border-color: #de2c2c9f;
  --inputGroupBtn-hover-color: #666666;
  --inputGroup-shadow: none;

  /* Sidebar */
  --sidebar-hover-color: rgba(255, 255, 255, 0.1);
  --sidebar-color: #8a847e;
  --sidebar-shadow: none;
  --sidebar-present-page-color: var(--primary-color);
  --sidebar-present-page-shadow: none;

  /* Header */
  --headerMenu-btn-hover-bg: #555555;
  --headerMenu-bg: #3c3c3c;
  --headerMenu-shadow: none;
  --headerMenu-opt-hover-bg: #8a847e;
  --headerTitle-color: #f0ebe7;
  --headerTitle-underline-color: #c89d8f;
  --newChatBtn-color: linear-gradient(125deg, #d82626, #8d857c, #716760);
  --newChatBtn-shadow: none;

  /* EmailComposeBox */
  --composeBoxBtn-color: #b0a79c;
  --composeBoxBtn-hover-color: #8d857c;
  --composeBox-body-bg: #3c3c3c;

  /* ScheduleViewer */
  --calendar-bg: #333333;
  --calendar-shadow: none;
  --calendar-dimmed-text-color: #8a847e;
  --calendar-hover-color: #3c3c3c;
  --calendar-current-bg: #8a847e;
  --calendar-event-border-color: #d89b95;
  --calendar-task-border-color: #b0a79c;
  --calendar-weekView-header-box-bg: #8a847e;
  --calendar-weekView-header-box-shadow: none;

  /* MessageViewer */
  --humanMsg-bg: #8a847e;
  --humanMsg-bg-shadow: none;
  --aiMsg-bg: #333333;
  --aiMsg-bg-shadow: none;

  /* DropdownMenu */
  --dropdownBtn-bg: #3c3c3c;
  --dropdownBtn-hover-bg: #555555;
  --dropdownBtn-shadow: none;
  --dropdownMenu-bg: #3c3c3c;
  --dropdownMenu-selected-bg: #8a847e;
  --dropdownMenu-shadow: none;

  /* Menubar */
  --menubar-bg: #3c3c3c;
  --menubar-active-item-bg: #8a847e;
  --menubar-item-hover-bg: transparent;

  /* HomePage */
  --welcomeText-gradient: linear-gradient(125deg, #d82626, #8d857c, #716760);

  /* ProfilePage */

  /* AboutPage */
  --aboutCard-bg: #3c3c3c;
  --aboutCard-shadow: none;
  --aboutBtn-bg: #d83b26b7;
  --aboutBtn-shadow: none;

  /* SettingsPage */
  --SettingsBorder-color: #555555;
  --themeCard-bg: #3c3c3c;
  --themeCard-shadow: none;
  --themeCard-hover-shadow: none;
}


/* ====================================================*/
/*              Few others common styles               */
/* ====================================================*/

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color2);
}

.body-container {
  width: 100%;
  display: flex;
}

/* Main Content */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
