.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  padding-top: 5px;
  font-family: "Exo2", "Montserrat", sans-serif;
}

.profile-card {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  overflow-y: auto;
}

.profile-card::-webkit-scrollbar {
  width: 10px;
}

.profile-card::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

.profile-img {
  height: 150px;
  margin: 20px 20px 20px 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-details {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sec span {
  margin-bottom: 10px;
}

.sec input {
  width: 350px;
  height: 45px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: var(--text-color2);
  background: var(--inputGroup-bg);
  box-shadow: var(--inputGroup-shadow);
  border: 2px solid transparent;
  font: normal large "Exo2", "Montserrat", sans-serif;
  outline: none;
}

.sec input::placeholder {
  font-size: medium;
  color: var(--placeholder-text-color);
}

.sec input:focus {
  border: 2px solid var(--inputGroup-border-color);
}

.sec textarea {
  width: 350px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color2);
  background: var(--inputGroup-bg);
  box-shadow: var(--inputGroup-shadow);
  border: 2px solid transparent;
  font: normal medium "Exo2", "Montserrat", sans-serif;
  resize: none;
  outline: none;
}

.sec textarea:focus {
  border: 2px solid var(--inputGroup-border-color);
}

.sec textarea::placeholder {
  color: var(--placeholder-text-color);
}

.sec textarea::-webkit-scrollbar {
  width: 5px;
}

.sec textarea::-webkit-scrollbar-track {
  background: transparent;
}

.sec textarea::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

.last-sec {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .profile-img {
    height: 100px;
    margin: 20px 0 20px 50px;
  }

  .user-details {
    margin-left: 25px;
  }

  .sec input {
    width: 300px;
  }

  .sec textarea {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .profile-card {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-img {
    width: 100%;
    height: 100px;
    margin: 0;
  }

  .user-details {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .last-sec {
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  .sec input {
    width: 88vw;
    margin-bottom: 10px;
  }

  .sec textarea {
    width: 88vw;
  }
}
