# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local

# python backend
venv
build
__pycache__
resources
vector_stores

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# secret
.env

#testing
test.js
test.ts
test.jsx
test.tsx
test.py

# cache
extracted_cache.json