.welcomeText {
  height: 60px;
  width: 100%;
  font: normal 55px "Cormorant Garamond", "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------ */
/* Responsive Styles */

@container (max-width: 992px) {
  .welcomeText {
    font-size: 55px;
  }
}

@container (max-width: 768px) {
  .welcomeText {
    font-size: 45px;
  }
}

@container (max-width: 576px) {
  .welcomeText {
    font-size: 40px;
  }
}

@container (max-width: 420px) {
  .welcomeText {
    font-size: 35px;
  }
}

@container (max-width: 320px) {
  .welcomeText {
    font-size: 10vw;
  }
}
