.menubar {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  border-radius: 7px;
  color: var(--text-color-opposite);
  background: var( --menubar-bg);
  box-shadow: var(--menubar-shadow);
}

.giveMargin {
  margin: 0 0 0 20px;
}

.menuItems {
  display: flex;
  list-style-type: none;
}

.menuItem {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.menuItem.active {
  pointer-events: none;
  background: var(--menubar-active-item-bg);
  color: var(--text-color-light);
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@container (max-width: 320px) {
  .menubar {
    margin: 0;
  }
}

@container (max-width: 280px) {
  .menuItem span {
    font-size: small;
  }

  .menuItem {
    padding: 5px 10px;
    border-radius: 5px;
  }
}