.menubar {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  border-radius: 7px;
  color: var(--text-color2);
  background: var(--menubar-bg);
  box-shadow: var(--menubar-shadow);
}

.menuItems {
  display: flex;
  list-style-type: none;
}

.menuItem {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.menuItem.active {
  pointer-events: none;
  background: var(--menubar-active-item-bg);
  color: var(--menubar-active-text-color);
}

/* Responsive Styles */
@media (max-width: 320px) {
  .menubar {
    margin: 0;
  }
}
