.menubar {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  margin: 0 20px 10px 20px;
  border-radius: 10px;
  color: var(--text-color2);
  background: var(--menubar-bg);
  box-shadow:  var(--menubar-shadow);
}

.menu-items {
  display: flex;
  list-style-type: none;
}

.menu-item {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.menu-item.active {
  pointer-events: none;
  background: var(--menubar-active-item-bg);
  color: var(--menubar-active-text-color);
}
