/* Message Styles (Conversations) */
.msg-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.msg-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.msg-content {
  max-width: calc(100% - 50px);
  white-space: pre-line;
}

.msg-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "ai-text", "Montserrat", sans-serif;
}

.msg-text {
  padding: 10px 20px;
  border-radius: 0.8rem;
  word-wrap: break-word;
}

.human-msg {
  color: var(--text-color1);
  background: var(--humanMsg-bg);
  box-shadow: var(--humanMsg-bg-shadow);
}

.ai-msg {
  background: var(--aiMsg-bg);
  color: var(--text-color2);
  font: normal large "Exo2", "Montserrat", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.3px;
  word-spacing: 2px;
  box-shadow: var(--aiMsg-bg-shadow);
}

/* CSS for loader component */
.loader {
  width: 10px;
  height: 10px;
  margin: 7px 20px;
  background: #f4f4f4;
  border-radius: 50%;
  box-shadow: 20px 0 #f4f4f422, -20px 0 #f4f4f4;
  animation: d5 1s infinite linear alternate;
}
@keyframes d5 {
  0% {
    box-shadow: 20px 0 #f4f4f4, -20px 0 #f4f4f422;
    background: #f4f4f4;
  }
  33% {
    box-shadow: 20px 0 #f4f4f4, -20px 0 #f4f4f422;
    background: #f4f4f422;
  }
  66% {
    box-shadow: 20px 0 #f4f4f422, -20px 0 #f4f4f4;
    background: #f4f4f422;
  }
}

/* Responsiveness */
@media (max-width: 768px) {
  .msg-avatar {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .msg-content {
    max-width: 100%;
  }

  .msg-text {
    padding-left: 10px 15px;
  }

  .ai-msg {
    font: normal 16.6px "Exo2", "Montserrat", sans-serif;
    line-height: 1.4;
  }
}

@media (max-width: 320px) {
  .ai-msg {
    font: normal medium "Exo2", "Montserrat", sans-serif;
    line-height: 1.3;
  }
}
