/* Message Styles (Conversations) */
.msg-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.msg-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.msg-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.vol-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}
#volume-btn {
  background-color: transparent;
  border: none;
}
.msg-content {
  max-width: calc(100% - 50px);
  white-space: pre-line;
}

.msg-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "ai-text", "Montserrat", sans-serif;
}

.msg-text {
  padding: 10px 20px;
  border-radius: 0.8rem;
  word-wrap: break-word;
}

.human-msg {
  color: var(--text-color1);
  background: var(--humanMsg-bg);
  box-shadow: var(--humanMsg-bg-shadow);
}

.ai-msg {
  background: var(--aiMsg-bg);
  color: var(--text-color2);
  font: normal large "Exo2", "Montserrat", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.3px;
  word-spacing: 2px;
  box-shadow: var(--aiMsg-bg-shadow);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.ai-msg-copy-btn {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 15px;
  margin-right: 15px;
}

.copy-btn {
  padding: 3px 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: var(--aiMsg-bg);
  color: var(--text-color2);
  font: normal small "Exo2", "Montserrat", sans-serif;
  box-shadow: var(--aiMsg-bg-shadow);
}

/* CSS for loader component */
.loader {
  width: 10px;
  height: 10px;
  margin: 7px 20px;
  background: var(--aiLoader-primary);
  border-radius: 50%;
  box-shadow: 20px 0 var(--aiLoader-secondary), -20px 0 var(--aiLoader-primary);
  animation: d5 1s infinite linear alternate;
}
@keyframes d5 {
  0% {
    box-shadow: 20px 0 var(--aiLoader-primary), -20px 0 var(--aiLoader-secondary);
    background: var(--aiLoader-primary);
  }
  33% {
    box-shadow: 20px 0 var(--aiLoader-primary), -20px 0 var(--aiLoader-secondary);
    background: var(--aiLoader-secondary);
  }
  66% {
    box-shadow: 20px 0 var(--aiLoader-secondary), -20px 0 var(--aiLoader-primary);
    background: var(--aiLoader-secondary);
  }
}

/* Responsiveness */
@media (max-width: 768px) {
  .msg-avatar {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .msg-content {
    max-width: 100%;
  }

  .msg-text {
    padding-left: 10px 15px;
  }

  .ai-msg {
    font: normal 16.6px "Exo2", "Montserrat", sans-serif;
    line-height: 1.4;
  }
}

@media (max-width: 320px) {
  .ai-msg {
    font: normal medium "Exo2", "Montserrat", sans-serif;
    line-height: 1.3;
  }
}
