@font-face {
    font-family: 'nasa';
    src: url('assets/font/nasalization-rg.otf');
}

@font-face {
    font-family: 'ai-text';
    src: url('assets/font/KodeMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'exo2';
    src: url('assets/font/Exo2-VariableFont_wght.ttf');
}

/* Theme 1: Dawn_n_Dusk */
.Dawn_n_Dusk-light {
    --primary-color: #F5F7FA;
    --primary-accent-color: #1F2937;
    --text1-color: #FFFFFF;
    --text2-color: #1F2937;
    --welcome-text-gradient: linear-gradient(125deg, #ff7300, #F12B6D, #0026ff);
    --human-msg-bg: #FFFFFF;
    --ai-msg-bg: #1F2937;
    --changeable-icon-filter: none;
}

.Dawn_n_Dusk-dark {
    --primary-color: #121212;
    --primary-accent-color: linear-gradient(135deg, #7b63ff, #0d00c7);
    --text1-color: #FFFFFF;
    --text2-color: #FFFFFF;
    --welcome-text-gradient: linear-gradient(125deg, #ff8d2f, #F12B6D, #0026ff);
    --human-msg-bg: #3C3C3C;
    --ai-msg-bg: #382bf0;
    --changeable-icon-filter: invert(100%);
}

/*  Theme 2: Cyber_Tech_01 */
.Cyber_Tech_01-light {
    --primary-color: #F5F7FA;
    --primary-accent-color: #1F2937;
    --text1-color: #FFFFFF;
    --text2-color: #1F2937;
    --welcome-text-gradient: linear-gradient(125deg, #ff7300, #F12B6D, #0026ff);
    --human-msg-bg: #FFFFFF;
    --ai-msg-bg: #1F2937;
    --changeable-icon-filter: none;
}

.Cyber_Tech_01-dark {
    --primary-color: #0c0a18;
    --primary-accent-color: linear-gradient(125deg, #0026ff, #5b00af);
    --text1-color: #ece2d5;
    --text2-color: #ece2d5;
    --welcome-text-gradient: linear-gradient(125deg, #ff8d2f, #F12B6D, #0026ff);
    --human-msg-bg: linear-gradient(125deg, #0026ff, #5b00af);
    --ai-msg-bg: rgba(109, 108, 108, 0.15);
    --changeable-icon-filter: invert(100%);
}


/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    color: var(--text2-color);
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* Main Content */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}