/* Chat Container */
.chatContainer {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.msgBox {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  height: calc(100vh - (60px + 12vh));
  padding-top: 30px;
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
}

.msgBox::-webkit-scrollbar {
  width: 10px;
}

.msgBox::-webkit-scrollbar-track {
  background: transparent;
}

.msgBox::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

/* ------------------ */
/* Responsive Styles */
@media (max-width: 1200px) {
  .msgBox {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 992px) {
  .msgBox {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 768px) {
  .msgBox {
    padding-left: calc(5% + 10px);
    padding-right: calc(5% + 10px);
  }
}

@media (max-width: 576px) {
  .msgBox {
    padding-left: calc(2.5% + 10px);
    padding-right: 2%;
  }

  .msgBox::-webkit-scrollbar {
    width: 7px;
  }
}

@media (max-width: 320px) {
  .msgBox::-webkit-scrollbar {
    width: 3px;
  }

  .msgBox::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }
}
