.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Sub-page Container */
.subPageContainer {
  height: auto;
  padding: 10px 0;
  margin: 15px 20px 20px 20px;
  border-radius: 20px;
  background: var(--primary-color);
  box-shadow: var(--shadow);
}

@media (max-width: 1440px) {
  .subPageContainer {
    width: 460px;
  }
}

@media (max-width: 1280px) {
  .subPageContainer {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .subPageContainer {
    display: none;
  }
}

/* Chat Container */
.chatContainer {
  width: 60%;
  height: 100%;
  background-color: transparent;
  display: flex;
  container-type: inline-size;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.msgBox {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  height: calc(100vh - (60px + 12vh));
  padding-top: 30px;
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
}

.msgBox::-webkit-scrollbar {
  width: 10px;
}

.msgBox::-webkit-scrollbar-track {
  background: transparent;
}

.msgBox::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@container (max-width: 1200px) {
  .msgBox {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@container (max-width: 992px) {
  .msgBox {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@container (max-width: 768px) {
  .msgBox {
    padding-left: calc(5% + 10px);
    padding-right: calc(5% + 10px);
  }
}

@container (max-width: 576px) {
  .msgBox {
    padding-left: calc(2.5% + 10px);
    padding-right: 2%;
  }

  .msgBox::-webkit-scrollbar {
    width: 7px;
  }
}

@container (max-width: 320px) {
  .msgBox::-webkit-scrollbar {
    width: 3px;
  }

  .msgBox::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }
}
