.profileContainer {
  display: flex;
  container-type: inline-size;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  padding-top: 5px;
  font-family: "Exo2", "Montserrat", sans-serif;
}

.profileCard {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  overflow-y: auto;
}

.profileCard::-webkit-scrollbar {
  width: 10px;
}

.profileCard::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

.profileImg {
  height: 150px;
  width: 150px;
  margin: 20px 20px 20px 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImg img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 50%;
}

.userDetails {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ======= User Details Form Style ======= */

.userDetails .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.userDetails .flex {
  display: flex;
  width: 100%;
  gap: 10px;
}

.userDetails .form label {
  position: relative;
}

.userDetails .form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border-radius: 10px;
  color: var(--text-color2);
  background: var(--inputGroup-bg);
  border: 1px solid var(--profile-input-border-color);
  box-shadow: var(--profile-input-shadow);
  font: normal medium "Exo2", "Montserrat", sans-serif;
}

.userDetails .form #bio {
  height: 200px;
  resize: none;
}

.userDetails .form #bio::placeholder {
  font-size: medium;
  color: var(--placeholder-text-color);
}

.userDetails .form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: var(--placeholder-text-color);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.userDetails .form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.userDetails .form label .input:focus + span,
.userDetails .form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.userDetails .form label .input:valid + span {
  color: var(--profile-input-valid-color);
}

.userDetails .submit {
  width: 100%;
  border: none;
  outline: none;
  background: var(--profile-btn-bg);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.userDetails .submit:hover {
  box-shadow: 7px 5px 56px -14px var(--profile-btn-bg);
}

.userDetails .submit:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px var(--profile-btn-bg);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@container (max-width: 768px) {
  .profileImg {
    height: 100px;
    margin: 20px 0 20px 50px;
  }

  .userDetails {
    margin-left: 25px;
  }
}

@container (max-width: 576px) {
  .profileCard {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profileCard::-webkit-scrollbar {
    width: 7px;
  }

  .profileImg {
    width: 100px;
    height: 100px;
    margin: 0;
  }

  .userDetails {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}

@container (max-width: 320px) {
  .profileCard::-webkit-scrollbar {
    width: 3px;
  }

  .profileCard::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }
}
