.aboutContainer {
  height: 100%;
  width: 100%;
  font-family: "Exo2", "Montserrat", sans-serif;

  display: flex;
  container-type: inline-size;
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
}

.aboutContainer::-webkit-scrollbar {
  width: 5px;
}

.aboutContainer::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
}

.down {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutCard {
  width: 25%;
  padding: 20px 20px;
  border-radius: 10px;
  background: var(--aboutCard-bg);
  box-shadow: var(--aboutCard-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutCard:hover {
  box-shadow: var(--themeCard-hover-shadow);
}

.aboutCard .header {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.aboutCard .header span {
  color: var(--text-color-opposite);
  font: bold xx-large "Exo2", "Montserrat", sans-serif;
}

.aboutCard span {
  color: var(--text-color-opposite);
  font: normal medium "Exo2", "Montserrat", sans-serif;
}

.content {
  padding-bottom: 35%;
}

#aboutBtn {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 10px;
  color: var(--text-color-light);
  background: var(--aboutBtn-bg);
  border: none;
  font: bold auto "Exo2", "Montserrat", sans-serif;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

#aboutBtn:hover {
  box-shadow: 7px 5px 56px -14px var(--aboutBtn-shadow);
}

#aboutBtn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px var(--aboutBtn-shadow);
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@container (max-width: 768px) {
  .aboutCard {
    width: 50%;
  }

  .aboutCard .header {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

@container (max-width: 576px) {
  .aboutContainer::-webkit-scrollbar {
    width: 7px;
  }

  .aboutCard {
    width: 60%;
  }

  .aboutCard .header {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@container (max-width: 460px) {
  .aboutCard {
    width: 75%;
  }
}

@container (max-width: 320px) {
  .aboutContainer::-webkit-scrollbar {
    width: 3px;
  }

  .aboutContainer::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }

  .aboutCard {
    width: 90%;
  }

  .aboutCard .header {
    margin-bottom: 10px;
  }

  .aboutCard .header span {
    font-size: x-large;
  }

  .aboutCard span {
    font-size: 16.6px;
  }

  #aboutBtn {
    padding: 15px 10px;
  }
}

@container (max-width: 228px) {
  .aboutCard .header {
    margin-bottom: 20px;
  }

  .aboutCard .header span {
    font-size: large;
  }

  .aboutCard span {
    font-size: small;
  }

  .content {
    padding-bottom: 20%;
  }

  #aboutBtn {
    padding: 10px 10px;
    border-radius: 5px;
    font: normal small "Exo2", "Montserrat", sans-serif;
  }
}
