.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.logoutImg {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutImg svg {
  width: 17px;
}

.logoutImg svg path {
  fill: white;
}

/* text */
.logoutText {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.logoutBtn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logoutBtn:hover .logoutImg {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.logoutBtn:hover .logoutText {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.logoutBtn:active {
  transform: translate(2px, 2px);
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@media (max-width: 320px) {
  .logoutBtn {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 280px) {
  .logoutBtn:hover .logoutImg {
    padding-left: 0px;
  }

  .logoutBtn:hover .logoutImg svg {
    width: 0;
  }

  .logoutBtn:hover {
    width: 60px;
  }

  .logoutBtn:hover .logoutText {
    width: 100%;
    padding-right: 0px;
  }
}
