.newChatButton {
  width: auto;
  height: auto;
  background: var(--newChatBtn-after-color);
  color: var(--text-color-light);
  border: none;
  box-shadow: var(--newChatBtn-shadow);
  padding: 5px 15px 5px 5px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.newChatButton span {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  font: normal 20px "Exo2", "Montserrat", sans-serif;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
}

.newChatButton::before,
.newChatButton::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.newChatButton::before {
  content: "";
  background: var(--newChatBtn-color);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.newChatButton:hover::before {
  transform: translate3d(100%, 0, 0);
}

.newChatButton:active {
  transform: scale(0.95);
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

@media (max-width: 992px) {
  .newChatButton {
    padding: 5px 10px 5px 5px;
  }

  .newChatButton span {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .newChatButton {
    padding: 5px 8px 5px 5px;
  }

  .newChatButton span {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .newChatButton {
    padding: 3px;
  }

  .newChatButton span {
    display: none;
  }
}
