/* ======  Themes   ====== */
.Dawn_n_Dusk-light {
  --codeBlocks-bg: #1f2937;
  --codeBlocks-border: none;
  --inlineCode-bg: #dbdbdb;
  --inlineCode-shadow: none;
}

.Dawn_n_Dusk-dark {
  --codeBlocks-bg: #222222;
  --codeBlocks-border: none;
  --inlineCode-bg: #2b2b2b;
  --inlineCode-shadow: none;
}

.Cyber_Tech_01-light {
  --codeBlocks-bg: #1f2937;
  --codeBlocks-border: none;
  --inlineCode-bg: #dbdbdb;
  --inlineCode-shadow: none;
}

.Cyber_Tech_01-dark {
  --codeBlocks-bg: #282c34;
  --codeBlocks-border: none;
  --inlineCode-bg: rgba(37, 37, 37, 0.3);
  --inlineCode-shadow: 0 0 2px #ece2d5;
}

/* ---------------------- */
.copyBtnContainer {
  width: 100%;
  padding: 4px 0;
  padding-right: 5px;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: flex-end;
  background: #111111;
}

.copyButton {
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #2c3e50;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* ------------------------------ */
/* Customizing the Markdown View  */
/* ------------------------------ */

/* for List */
.markdownText ol {
  margin: 0;
  padding-left: 40px;
}

.markdownText ul {
  margin: 0;
  padding-left: 30px;
}

/* for inline code */
.markdownText .inlineCode {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 13.5px;
  background-color: var(--inlineCode-bg);
  box-shadow: var(--inlineCode-shadow);
}
