.sidebar {
  height: 100vh;
  width: 60px;
  border: none;
  background: var(--sidebar-color);
  border-radius: 0 5px 5px 0;
  box-shadow: var(--sidebar-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

/*  Sidebar Upper Part  */
/* -------------------- */
.upperPart {
  height: auto;
  width: 100%;
}

.userImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.dividerLine {
  margin: 15px 15px;
  border-bottom: 2px solid grey;
}

nav ul {
  list-style: none;
}

/*   Sidebar Navigation   */
/* ---------------------- */

.upperPart li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.5s ease;
}

.upperPart li:hover {
  background: var(--sidebar-hover-color);
  border-radius: 10px;
}

/*  Lower Part of Sidebar  */
/* ----------------------- */
.lowerPart {
  width: 100%;
}

.lowerPart li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  transition: all 0.5s ease;
}
