@import "tailwindcss";
@tailwind utilities;

/* Initialize theme from localStorage */
:root {
  color-scheme: light dark;
}

@font-face {
  font-family: "DMSans";
  src: url("/font/DMSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("/font/CormorantGaramond-VariableFont_wght.ttf");
}

@font-face {
  font-family: "PTSerif-Bold";
  src: url("/font/PTSerif-Bold.ttf");
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-lg: 992px;

  --font-dmsans: "DMSans", "Montserrat", sans-serif;
  --font-cormorant: "CormorantGaramond", "Montserrat", sans-serif;
  --font-ptserif-bold: "PTSerif-Bold", "Montserrat", sans-serif;

  --color-primary: #f5f5f5;
  --color-secondary: #1f2937;
  --color-tertiary: #404045;

  --color-primary-dark: #292a2d;
  --color-secondary-dark: #1b1c1d;
  --color-tertiary-dark: #404045;

  --height-body-with-margin-b: calc(100vh - 60px);
  --width-main-body: calc(100vw - 72px);
  --width-min-main-body: calc(100vw - 320px);
  --width-max-main-body: calc(100vw - 384px);
}

/*    Global styles    */
/* =================== */

.scrollbar {
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: theme("colors.gray.500");
  dark {
    background-color: theme("colors.zinc.500");
  }
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  pointer-events: none;
}

/*  pages/Home.tsx   */
.msgBox {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
}

/*  (.aline-with-msgBox if for chatInput/index.tsx) 	 */
.aline-with-msgBox {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

@container (max-width: 992px) {
  .msgBox {
    padding-left: 5%;
    padding-right: 5%;
  }
  .aline-with-msgBox {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.draggable-element {
  -webkit-app-region: drag;
}

/*   features/sidebar/index.tsx   */
.sidebar-li {
  @apply w-full flex items-center justify-center rounded-xl py-[15px] cursor-pointer transition-all duration-500 ease-in-out;
}
