/* Lower part of ChatBox */
.input_box {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* User Input Styles */
.input_group {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  padding: 5px;
  background: var(--inputGroup-bg);
  border-radius: 0.8rem;
  border: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: var(--inputGroup-shadow);
  flex-grow: 1;
}

.input_group.active {
  border-color: var(--inputGroup-border-color);
}

#user_input {
  height: 50px;
  max-height: 200px;
  min-width: 300px;
  padding: 15px 10px 10px 10px;
  outline: none;
  resize: none;
  border: none;
  color: var(--text-color2);
  font: normal medium "Montserrat", sans-serif;
  background: transparent;
  flex-grow: 1;
}

#user_input::placeholder {
  color: var(--placeholder-text-color);
  align-items: center;
  font: normal large "Exo2", "Montserrat", sans-serif;
  letter-spacing: 2px;
}

#user_input::-webkit-scrollbar {
  width: 0px;
}

.input_group_append {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Send Button Styles */
#submit_btn {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
}

#submit_btn:hover {
  background-color: var(--inputGroupBtn-hover-color);
}

/* Change the color when disabled and */
/* Change the cursor to indicate the button is disabled */
button.disabled {
  background-color: rgb(88, 88, 88);
  cursor: not-allowed;
}

.stop_icon {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
  color: white;
}

#options_btn {
  background: transparent;
  border: none;
  border-radius: 7px;
}

#options_btn:hover {
  background: var(--inputGroupBtn-hover-color);
}

.options_menu {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: calc(100% + 7px);
  right: 3%;
  background: var(--inputGroup-bg);
  box-shadow: var(--inputGroup-shadow);
  padding: 7px 10px;
  border: 1.5px;
  border-style: solid;
  border-color: var(--inputGroup-border-color);
  flex-grow: 1;
  border-radius: 5px;
}

.options_menu_icon {
  width: 29px;
  height: 29px;
}

/* ------------------ */
/* Responsive Styles */
@media (max-width: 1200px) {
  .input_group {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .input_group {
    width: 90%;
  }

  #user_input {
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .input_group {
    width: 90%;
    padding: 3px;
  }

  #user_input {
    min-width: 150px;
  }

  .input_group_append {
    align-items: center;
  }

  #submit_btn {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .input_group {
    width: 95%;
  }

  #user_input::placeholder {
    font: normal medium "Exo2", "Montserrat", sans-serif;
    letter-spacing: 2px;
  }

  .input_group_append {
    align-items: center;
  }

  .options_menu_icon {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 320px) {
  #submit_btn {
    height: 35px;
    width: 35px;
    margin-right: 5px;
  }
}
