
.inputGroup {
  width: 60%;
  padding: 5px;
  background: var(--inputBox-bg);
  border-radius: 0.8rem;
  border: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: var(--inputBox-shadow);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}


@container (max-width: 992px) {
  .inputGroup {
    width: 90%;
  }

  .inputOptionMenu {
    width: 90%;
  }
}

@container (max-width: 768px) {
  .inputGroup {
    width: 90%;
    padding: 3px;
  }

  .inputOptionMenu {
    width: 90%;
  }
}

@container (max-width: 576px) {
  .inputGroup {
    width: 95%;
  }

  .inputOptionMenu {
    width: 95%;
  }
}
